<section class="TodoSection">
  <div class="TodoSectionTitle">
    <p class="TodoSectionTitle-text"><%= section_title %></p>
    <p class="TodoSectionTitle-remainingCount">
      <%= todos.completed.count %> / <%= todos.count %>
    </p>
  </div>
  <ul>
    <% if !show_completed
         todos = todos.not_completed
       end %>
    <% todos.all.each do |todo| %>
        <li class="TodoItem">
          <label class="TodoItem-container">
            <input
              type="checkbox"
              class="TodoItem-checkbox"
              <% if todo.completed %>
                checked
              <% end %>
            >
            <p class="TodoItem-text"
              <% if todo.completed %>
                style="text-decoration: line-through;"
              <% end %>
            >
              <%= todo.todo_text %>
            </p>
            <% if show_due_date %>
              <p class="TodoItem-remainingDate"> <%= todo.due_date.to_s(:short) %> </p>
            <% end %>
            <a class="TodoItem-delete" href="javascript:void(0)">
              <img src="delete.png">
            </a>
          </label>
        </li>
    <% end %>
  </ul>
</section>
