<!DOCTYPE html>
<html>
  <head>
    <title>My Todo Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <h1 style="background-color:darkblue; color:white;">The Todo Application</h1>
    <%= yield %>
    <hr>
    <p style="font-size:32px;">TodoManager App (c) The Todo Company</p>
  </body>
</html>
